#main-container {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    justify-content: center;
    align-items: center;
}
#chessboard {
    width: 800px;
    height: 800px;
    outline: 3px solid lightgray;
    background-color: bisque;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    
}
#chessboard div {
    width: 100px;
    height: 100px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.white {
    background-color: white;
}
.black {
    background-color: black;
}