.boner{
    transform: skewY(30deg) rotate(10deg) translateX(100px);
}

div {
    outline: 3px solid #FF00FF;
    max-height: 500px;
    max-width: 500px;
    padding: 10px;
    overflow-x: scroll;
    overflow-y: scroll;
    transform: rotate(45deg);
}

:root {
    font-size: 18px;
    max-width: 400px;
}
p {
    background-color: aqua;
    padding: 5px;
}