* {
    font-family: Arial, sans-serif;
    color:black;
}
.username {
    font-weight: bold;
}
#main-container{
    width: 100vw;
    height:100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: lightgrey;
    padding: 20px;
}
#post-container{
    display: flex;
    flex-direction: column;
    width: 500px;
    background-color: #fff;
    border: 1px solid #dbdbdb;
    border-radius: 3px;
    padding: 10px;
}
#post-header{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px;
}
#post-header img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
}
#post-image{
    width: 90%;
}
#icons{
    display: flex;
    padding: 10px
}
#post-caption{
    padding: 10px;
}
#post-caption .username{
    margin-right: 5px;
}
.gray-text{
    color: gray;
    padding-left: 7px;
}