header{
    padding-top: 0px;
    padding-bottom: 0px;
background-color: black;
}
body
{
    max-width: 1000px;
    background-color: #0d1117;
    color: #c9d1d9;
    padding: 0 50px;
    text-align: center;
    margin:40px auto;
}
h2,
h3{
    line-height: 0.5;
    font-family: "titular-alt", sans-serif;
    font-weight: 700;
    font-style: normal;
}
h1{
    font-size: 80px;
    line-height: 1.1;
    font-family: "titular-alt", sans-serif;
    font-weight: 700;
    font-style: normal;
}
p{
    font:18px/1.5 system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
img{
    width: auto;
    height: 200px;
    padding: 10px;
}
figcaption{
    font:12px/1.5 system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
footer{
background-color: black;
}
footer img{
    vertical-align: middle;
    height: 50px;
    width: 50px;
}
.home-button{
    background-color: #4CAF50; 
  border: none; 
  color: white; 
  padding: 15px 32px; 
  text-align: center; 
  text-decoration: none; 
  display: inline-block; 
  font-size: 16px; 
  margin: 4px 2px;
  cursor: pointer; 
  border-radius: 8px; 
}