/* #ssn{
    color: red;
}
#statusResult{
    color: blue;
    text-decoration: dashed;
    text-decoration-line: underline;
    text-decoration-thickness: 4px;
} */

.blue{
    color: blue;
}
.red{
    color: red;
}
.pink{
    color: pink;
}
.bigboy{
    color: gold;
}
.bold{
    font-weight: bold;
}
.italic{
    font-style: italic;
}
body
{
    margin:40px auto;
    padding:0 10px;
    color:#444;
    font-size: 18px;
}
p,
h1{
    font-family: "pacaembu", sans-serif;
    font-weight: 600;
    font-style: normal;
}
h2{
    font-size: 30px;
    line-height: 1.0;
}
.center{
    text-align: center;
}
@media (prefers-color-scheme: dark) {
  body {
    color:#c9d1d9;
    background:#0d1117
  }
}
.drama{
    font-family: "reiher-headline", sans-serif;
    font-weight: 400;
    font-style: normal;
}
.action{
    font-family: "anton", sans-serif;
    font-weight: 400;
    font-style: normal;
}
.horror{
    font-family: "ltr-beowolf-r21", serif;
    font-weight: 400;
    font-style: normal;
}
.animated{
    font-family: "titular", sans-serif;
    font-weight: 700;
    font-style: normal;
}
.home-button{
    background-color: #4CAF50; 
  border: none; 
  color: white; 
  padding: 15px 32px; 
  text-align: center; 
  text-decoration: none; 
  display: inline-block; 
  font-size: 16px; 
  margin: 4px 2px;
  cursor: pointer; 
  border-radius: 8px; 
}